.product-details {
  margin: 25px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 30% 70%;

  img {
    border-radius: 15px;
  }
  .specs {
    @include justify(space-around);
    flex-direction: column;
  }
  button {
    background: $color4;
    color: $color2;
    padding: 15px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
