@font-face {
  font-family: "font1";
  src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

$font1: "font1" sans-serif;
$font2: "font2" sans-serif;

$dark-900: rgb(9, 9, 9);
$dark-400: rgb(59, 59, 59);
$light-300: rgb(255, 239, 213);
$light-100: rgb(243, 243, 243);
$dark-blue: rgb(15, 15, 226);
$light-blue: rgb(0, 114, 254);

@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}

@mixin title() {
  text-transform: uppercase;
  font-family: $font2;
  letter-spacing: 2px;
  font-size: 24px;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  text-align: center;
  font-family: $font1;
  font-size: 20px;
  transition: 0.2s ease;
}

.root {
  width: 100%;
}

.offscreen {
  position: absolute;
  left: -9999999px;
}

.btn-dark,
.btn-light {
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px transparent solid;
  transition: 0.2s ease;
}

.btn-dark {
  background: $dark-blue;
  color: $light-100;

  &:hover {
    border: 1px solid $light-blue;
    transform: scale(105%);
  }
  &:active {
    background: $light-blue;
  }
}
.btn-light {
  background: $light-blue;
  color: $dark-900;

  &:hover {
    border: 1px solid $dark-blue;
    transform: scale(105%);
  }
  &:active {
    background: $dark-blue;
  }
}

.span-dark,
.span-light {
  background: none;
  border-radius: 10px;
  @include justify(center);
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1.3rem;

  &:hover {
    transform: scale(105%);
  }
}

.span-light {
  color: $dark-900;
  border: 1px solid $dark-900;
}
.span-dark {
  color: $light-100;
  border: 1px solid $light-100;
}

.input-dark,
.input-light {
  border-radius: 15px;
  font-size: 16px;
  padding: 10px;
  background: none;
  letter-spacing: 1px;
}

.input-light {
  border: 1px solid $dark-900;
  color: $dark-900;

  &::placeholder {
    color: $dark-900;
  }
}
.input-dark {
  border: 1px solid $light-100;
  color: $light-100;

  &::placeholder {
    color: $light-100;
  }
}

.hr-light {
  border: solid 1px $dark-900;
}
.hr-dark {
  border: solid 1px $light-100;
}

.light {
  background: $light-300;
  color: $dark-900;
}
.dark {
  background: $dark-400;
  color: $light-100;
}

.cartRow-dark,
.cartRow-light {
  @include justify(space-around);
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
}

.cartRow-dark {
  border: 1px solid $light-100;
}
.cartRow-light {
  border: 1px solid $dark-900;
}

.link-dark,
.link-dark:visited {
  color: $light-100;
}
.link-light,
.link-light:visited {
  color: $dark-900;
}

.select-light,
.select-dark {
  padding: 5px;
  margin-left: 5px;
  border-radius: 15px;
  background: none;
  font-size: 14px;
}
.select-dark {
  color: $light-100;
  border: solid $light-100 1px;
}
.select-light {
  color: $dark-900;
  border: solid $dark-900 1px;
}
