footer {
  padding: 10px;

  .buttons {
    @include justify(center);
  }

  hr {
    width: 90%;
    margin: 10px auto;
  }

  .copyright {
    margin: 10px auto;
  }
  span {
    padding: 15px;
    cursor: pointer;
    margin: 10px;
  }
  .backTop {
    display: none;

    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }
}
