.shopping-cart {
  @include justify(center);
  flex-direction: column;
  width: 100%;
  //IMG container
  img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
  }
  //Total Price Margin
  p {
    margin: 10px;
  }
}
