.hamburger-menu {
  position: absolute;
  top: 4px;
  right: -65px;
  @include justify(space-between);
  flex-direction: column;
  height: 30px;
  width: 40px;
  cursor: pointer;

  span {
    background: $light-100;
    width: 100%;
    height: 6px;
    border-radius: 15px;
  }
  .active {
    &:nth-child(1) {
      transform: rotate(45deg) translateY(17px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-17px);
    }
  }
}
