.navigation-light,
.navigation-dark {
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  align-items: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  ul {
    //Nav display
    @include justify(space-around);

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  //Cart and Theme button
  .span-dark,
  .span-light {
    width: 50px;
    margin: 0 auto;
  }
}
//Dark Mode
.navigation-dark {
  background: $dark-blue;
  border: 1px solid $light-100;
  box-shadow: 1px 2px 5px 2px rgba(243, 243, 243, 0.4);
}
//Light Mode
.navigation-light {
  background: $light-blue;
  border: 1px solid $dark-900;
  box-shadow: 1px 2px 5px 2px rgba(9, 9, 9, 0.4);
}
