.buttons {
  //Place the button beside the view cart button
  @include justify(center);

  .backTop {
    display: none;

    @media screen and (max-width: 1200px) {
      display: flex;
    }

    span {
      padding: 15px;
      cursor: pointer;
      margin: 10px;

      //Dark Mode
      .link-dark,
      .link-dark:visited {
        color: $light-100;
      }
      //Light Mode
      .link-light,
      .link-light:visited {
        color: $dark-900;
      }
    }
  }
}
